* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin: 5px;
}

.content:hover {
    box-shadow: 1px 1px 10px 3px #888888;
}

.content {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.342);
    box-shadow: 2px 4px 10px #888888;
    height: 280px;
    width: 200px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.491);
}